<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="sidebar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/dashboard}">
                        <i class="fas fa-tachometer-alt"></i>
                        Панель управления
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}">
                        <i class="fas fa-users"></i>
                        Пользователи
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/cars}">
                        <i class="fas fa-car"></i>
                        Автомобили
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/rentals}">
                        <i class="fas fa-key"></i>
                        Аренды
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/payments}">
                        <i class="fas fa-credit-card"></i>
                        Ежедневные платежи
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/accounts}">
                        <i class="fas fa-wallet"></i>
                        Счета
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/statistics}">
                        <i class="fas fa-chart-bar"></i>
                        Статистика
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/test-data/management}">
                        <i class="fas fa-database"></i>
                        Тестовые данные
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html> 